<div *ngIf="!errorDataSetLoaded; else elseBlock" style="width: 100%; height: 100%">
  <header style="justify-content: center">
    <div class="h1">{{country.country}}</div>
  </header>
  <div>
    <menu>
      <li>
        <div class="p">
          <h4>Number of entries</h4>
          <h5>{{numberOfEntries}}</h5>
        </div>
      </li>
      <li>
        <div class="p">
          <h4>Total number medals</h4>
          <h5>{{numberOfMedals}}</h5>
        </div>
      </li>
      <li>
        <div class="p">
          <h4>Total number of athletes</h4>
          <h5>{{numberOfAthletes}}</h5>
        </div>
      </li>
    </menu>
  </div>
  <div class="container">
    <ngx-charts-line-chart
      [scheme]="colorScheme"
      [legend]="legend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxis]="xAxis"
      [yAxis]="yAxis"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [timeline]="timeline"
      [results]="multi"
    >
    </ngx-charts-line-chart>
  </div>
  <div style="margin-left: 13rem">
    <button (click)="onBack()">Back</button>
  </div>
</div>
<ng-template #elseBlock>
  <h3 style="text-align: center">An error occurred while loading data or the selected country does not exist, reload the
    page.</h3>
  <div style="text-align: center">
    <button (click)="onBack()">Back</button>
  </div>
</ng-template>
